@inject HttpClient Http;


<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">
                <EditForm Model="@Alum">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="subjectInput">Name</label>
                        <InputText class="form-control" id="subjectInput" @bind-Value="Alum.Name" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" @onclick="@ModalOk">Submit</button>
                    </div>
                </EditForm>
            </div>

        </div>
    </div>
</div>

@code {


    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public Alumni? Alum { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }


    private Alumni[] alumnis;

    private Alumni _alumniToEdit;
    public bool EditDialogOpen { get; set; }

    Alumni alu = new();

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private async Task ModalOk()
    {
        //await OnClose.InvokeAsync(true);
        //await Http.PutAsJsonAsync($"https://localhost:7284/api/Alumnis/{_alumniToEdit.Id}", new
        //{
        //    //_alumniToEdit
        //    _alumniToEdit.Id,
        //    _alumniToEdit.Name,
        //    _alumniToEdit.Link
        //});
        await OnClose.InvokeAsync(true);
    }

    public async Task HandleValidSubmit()
    {
        
    }
    //public class Alumni
    //{
    //    public Guid Id { get; set; }
    //    public string Name { get; set; }
    //    public string Link { get; set; }
    //}
}